<div>
  <link href="./footer.css" rel="stylesheet" />
  <footer class="footer-footer">
    <div class="footer-container">
      <div class="footer-container1">
        <span class="footer-text">Designed by Mohammad Diab</span>
        <span>
          <span>Based on Soft by</span>
          <a
            href="https://creative-tim.com/?_ga=2.5599155.1422744636.1682759977-611815790.1679776566"
            target="_blank"
            rel="noreferrer noopener"
            class="footer-link"
          >
            Creative Tim.
          </a>
        </span>
      </div>
    </div>
    <img
      alt="image"
      src="public/playground_assets/waves-white.svg"
      class="footer-image"
    />
  </footer>
</div>
